# requirements.in
#
# Basic dependencies for s4_event_readers.
# Run pip-compile to regenerate requirements.txt.
#
# These versions are known to work with Python 3.9+.
#
colorist==1.1.2
construct==2.10.70
inputimeout==1.0.4
pycryptodome==3.23.0
