# Cargo.toml

[package]
name = "super_speedy_syslog_searcher"
# The `description` should roughly match the first three paragraph sentences
# in `README.md`
description = "Speedily search and merge log messages by datetime. DateTime filters may be passed to narrow the search. It aims to be very fast."
repository = "https://github.com/jtmoon79/super-speedy-syslog-searcher"
authors = ["James Thomas Moon"]
license = "MIT"
keywords = ["syslog", "log", "log-parser", "search", "merge"]
# see https://crates.io/category_slugs
categories = ["command-line-utilities", "filesystem"]
readme = "README.md"
version = "0.6.64"
edition = "2021"
# `rust-version` (MSRV) should match ./github/workflows/rust.yml:rust_msrv:msrv
rust-version = "1.66.0"
# Do not set metadata fields `documentation` or `homepage` unless using
# non-standard websites.
# See <https://rust-lang.github.io/api-guidelines/documentation.html#cargotoml-includes-all-common-metadata-c-metadata>
exclude = [
    ".github/*",
    "benches/bench_ranges.rs",
    "benches/bench_syslinereader.rs",
    "benches/README.md",
    "logs/*",
    "src/**/README.md",
    "tmp/*",
    "tools/*",
    "tests/*",
    "rustfmt.toml",
]

[dependencies]
backtrace = "0.3.67"
bstr = "1.4.0"
chrono = "0.4.24"
clap = { version = "4.2.1", features = ["derive"] }
const_format = "0.2.30"
const-str = "0.4.3"
crossbeam-channel = "0.5.7"
dlopen2 = "0.4"
encoding_rs = "0.8.32"
evtx = { version = "0.8.1", features = ["multithreading"] }
flate2 = "1.0.25"
itertools = "0.10.5"
lazy_static = "1.4.0"
lru = "0.8.1"
lzma-rs = "0.2.0"
mime_guess = "2.0.4"
min-max = "0.1.8"
more-asserts = "0.3.1"
mut_static = "5.0.0"
nix = "0.26.2"
phf = { version = "0.11", features = ["macros"] }
rand = "0.8.5"
rangemap = "1.3.0"
regex = "1.7.1"
si_trace_print = "0.3.9"
static_assertions = "1.1.0"
tar = "0.4.38"
termcolor = "1.1.3"
unicode-width = "0.1.10"
unroll = "0.1.5"
walkdir = "2.3.3"
utf8_iter = "1.0.3"

[lib]
name = "s4lib"
path = "src/lib.rs"
crate-type = ["lib"]
edition = "2021"
test = true
doc = true
doctest = true
bench = false
#plugin = false
#proc-macro = false
#harness = false
# fails to compile on Windows due to:
#     src/black_box.c(2): error C2065: 'asm': undeclared identifier
# from https://github.com/mahkoh/uapi/blob/v0.2.10/uapi/src/black_box.c#L2
[target.'cfg(not(any(windows)))'.dependencies]
uapi = "0.2.10"
[target.'cfg(windows)'.dependencies]
libc = "0.2.141"

[[bin]]
name = "s4"
path = "src/bin/bin.rs"
edition = "2021"
test = true
doc = true
bench = false

[dev-dependencies]
arraystring = "0.3.0"
criterion = "0.4.0"
filepath = "0.1.2"
filetime = "0.2.20"
flamegraph = "0.6.2"
jetscii = "0.5.3"
memchr = "2.5.0"
tempdir = "0.3.7"
tempfile = "3.5.0"
test-case = "2.2.2"

# release build optimizations
# from https://github.com/johnthagen/min-sized-rust
# also see https://doc.rust-lang.org/cargo/reference/profiles.html
[profile.release]
codegen-units = 1
panic = "abort"
strip = true

# XXX: waiting on flamegraph #257 to allow using this
#      https://github.com/flamegraph-rs/flamegraph/issues/257
[profile.flamegraph]
inherits = "release"
codegen-units = 16
panic = "unwind"
strip = false

# other helpful development tools
# cargo install --locked cargo-expand cargo-nextest

[[bench]]
name = "bench_decode_utf"
harness = false

[[bench]]
name = "bench_prints"
harness = false

[[bench]]
name = "bench_slice_contains"
harness = false
