# Cargo.toml

[package]
name = "super_speedy_syslog_searcher"
# The `description` should roughly match the first three paragraph sentences
# in `README.md`
description = "Speedily search and merge log messages by datetime. DateTime filters may be passed to narrow the search. It aims to be very fast."
repository = "https://github.com/jtmoon79/super-speedy-syslog-searcher"
authors = ["James Thomas Moon"]
license = "MIT"
keywords = ["syslog", "log", "log-parser", "search", "merge"]
# see https://crates.io/category_slugs
categories = ["command-line-utilities", "filesystem"]
readme = "README.md"
version = "0.6.70"
edition = "2021"
# `rust-version` (MSRV) should match ./github/workflows/rust.yml:rust_msrv:msrv and ./README.md
rust-version = "1.67.1"
# Do not set metadata fields `documentation` or `homepage` unless using
# non-standard websites.
# See <https://rust-lang.github.io/api-guidelines/documentation.html#cargotoml-includes-all-common-metadata-c-metadata>
exclude = [
    ".github/*",
    "benches/bench_ranges.rs",
    "benches/bench_syslinereader.rs",
    "benches/README.md",
    "logs/*",
    "releases/*",
    "src/**/README.md",
    "tmp/*",
    "tools/*",
    "tests/*",
    "rustfmt.toml",
]

[dependencies]
bstr = "1.8.0"
chrono = "0.4.37"
clap = { version = "=4.2.1", features = ["derive"] }
const_format = "0.2.31"
crossbeam-channel = "0.5.12"
dlopen2 = "0.7"
encoding_rs = "0.8.33"
evtx = { version = "0.8.2", features = ["multithreading"] }
flate2 = "1.0.27"
itertools = "0.12.1"
kinded = "0.3.0"
lazy_static = "1.4.0"
lru = "0.12.3"
lzma-rs = "0.3.0"
memoffset = "0.9.1"
mime_guess = "2.0.4"
min-max = "0.1.8"
more-asserts = "0.3.1"
mut_static = "5.0.0"
nix = "0.27.1"
numtoa = "0.2.4"
# TODO: instead of `once_cell` crate, use `std::sync::OnceLock` when it becomes stable
#       TRACKING: https://github.com/rust-lang/rust/issues/74465
once_cell = "1.19.0"
phf = { version = "0.11", features = ["macros"] }
rand = "0.8.5"
rangemap = "1.5.1"
regex = "1.10.4"
si_trace_print = "0.3.12"
static_assertions = "1.1.0"
tar = "0.4.40"
termcolor = "1.1.3"
unicode-width = "0.1.10"
unroll = "0.1.5"
walkdir = "2.5.0"
utf8_iter = "1.0.4"

[lib]
name = "s4lib"
path = "src/lib.rs"
crate-type = ["lib"]
edition = "2021"
test = true
doc = true
doctest = true
bench = false
[target.'cfg(windows)'.dependencies]
libc = "0.2.153"

[[bin]]
name = "s4"
path = "src/bin/s4.rs"
edition = "2021"
test = true
doc = true
bench = false

[dev-dependencies]
arraystring = "0.3.0"
criterion = "0.5.1"
filepath = "0.1.2"
filetime = "0.2.23"
jetscii = "0.5.3"
memchr = "2.7.2"
tempdir = "0.3.7"
tempfile = "3.10.1"
test-case = "3.3.1"

# release build optimizations
# from https://github.com/johnthagen/min-sized-rust
# also see https://doc.rust-lang.org/cargo/reference/profiles.html
[profile.release]
codegen-units = 1
panic = "abort"
strip = true

[profile.flamegraph]
# XXX: requires manual install of `flamegraph`
#      not added to `dev-dependencies` due to MSRV 1.70.0
inherits = "release"
codegen-units = 16
panic = "unwind"
strip = false

# other helpful development tools
# cargo install --locked cargo-expand cargo-nextest

[[bench]]
name = "bench_decode_utf"
harness = false

[[bench]]
name = "bench_prints"
harness = false

[[bench]]
name = "bench_slice_contains"
harness = false
