# requirements.txt
#
# python libraries/programs for a few scripts here in `./tools`

# valgrind-callgrind.sh
gprof2dot==2024.06.06

# journal_print.py
systemd-python==235

# yamllint.sh
yamllint==1.35.1
