# requirements.txt
#
# python libraries/programs for a few scripts here in `./tools`

# valgrind-callgrind.sh
gprof2dot==2024.06.06

# compare-log-mergers.sh
logdissect==3.1.1
logmerger==0.12.0
toolong==1.4.0

# journal_print.py
systemd-python==235

# yamllint.sh
yamllint==1.35.1
